@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

$color-1: #475732; // Vallejo Green - Action color
$color-2: #19191a; // Dark Blue
$color-3: #961035; // Rackham Red
$color-4: #e6e6e6; // light grey
$color-5: #ffffff; // white

// additional colors

$success: #81865E; // Forest Ranger Green
$alert: $color-3; // Rackham Red

// fonts

$primary-font: 'Ma Shan Zheng', serif;
$secondary-font: 'Yeon Sung', sans-serif;


/* -------------------------------- 

xBackground 

-------------------------------- */

@import 'partials/background'; 
/* -------------------------------- 

xPatterns

-------------------------------- */

@import 'partials/patterns'; 

/* -------------------------------- 

xNavigation 

-------------------------------- */

@import 'partials/navigation';

/* -------------------------------- 

xPage title 

-------------------------------- */

@import 'partials/page-title';

/* -------------------------------- 

xTypography 

-------------------------------- */

@import 'partials/typography';

/* -------------------------------- 

xButtons 

-------------------------------- */

@import 'partials/buttons';



@import 'partials/basic-style';
